<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.angelhackapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Activity.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".Activity.Application.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Application.LogoutActivity"
            android:label="@string/title_activity_logout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Application.MyProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Application.MarketActivity"
            android:label="@string/title_activity_market"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Application.InvestmentActivity"
            android:label="@string/title_activity_investment"
            android:parentActivityName=".Activity.Application.MarketActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.angelhackapp.Activity.Application.MarketActivity" />
        </activity>
    </application>

</manifest>
